@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Nunito+Sans:opsz@6..12&display=swap');
.projectItem {
  width: 100%;
  background-color: rgb(237, 235, 235);
}

.projectButton {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 16px;
}

.projectButton:hover {
  cursor: pointer;
  background-color: rgb(225, 223, 223);
  z-index: 1;
}

.changeProjectNameButton,
.deliteProjectButton,
.ProjectDoneButton {
  cursor: pointer;
  margin-left: 5px;
  background-color: transparent;
}
.changeProjectNameButton:hover {
  color: rgb(9, 2, 226);
}
.deliteProjectButton:hover {
  color: rgb(255, 0, 0);
}
.ProjectDoneButton:hover {
  color: rgb(10, 105, 3);
}

.inputProjectName {
  width: auto;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: auto;
}

.inputProjectName::placeholder {
  font-size: 14px;
  color: rgb(95, 94, 94);
}

.projectNameItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  text-align: left;
  padding: 20px 8px 18px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(170, 168, 170);
  color: aliceblue;
  position: relative;
  border-bottom: 1px solid rgb(151, 150, 150);
}
.projectNameItemActive {
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-items: center;
  color: rgb(61, 60, 60);
  transition: 500ms;
  width: 100%;
  font-size: 16px;
  font-family: 'Nunito Sans', sans-serif;
  padding: 20px 8px 20px 20px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgb(213, 214, 216);
}

.projectNameItem:hover {
  background-color: rgb(186, 186, 187);
}

.ProjectNameDoneIcon {
  color: rgb(28, 29, 28);
  background: transparent;
  cursor: pointer;
  padding: 3px 5px;
  border: 1px solid black;
  outline: none;
  margin-right: 30px;
}

.ProjectNameDoneIcon:hover {
  color: rgb(238, 236, 236);
  background-color: rgb(28, 29, 28);
}
.ProjectNameDoneIconDisabled {
  color: rgb(142, 140, 142);
  background: transparent;
  cursor: pointer;
  padding: 2px;
  border: none;
  outline: none;
  margin-right: 30px;
}

.deleteContainer {
  display: flex;
  justify-content: center;
  color: rgb(248, 248, 248);
  transition: 500ms;
  width: auto;
  font-size: 16px;
  padding: 20px 5px 18px 10px;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: rgb(60, 59, 59);
}

.deleteContainer button {
  padding: 0 5px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .projectItem {
    width: 100%;
    background-color: rgb(237, 235, 235);
  }
  .projectNameItem {
    display: flex;
    align-items: center;

    width: 90%;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 10px 5px 8px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(170, 168, 170);
    color: aliceblue;
    position: relative;
  }
  .projectNameItemActive {
    display: flex;
    color: rgb(61, 60, 60);
    transition: 500ms;
    margin-left: 0;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 5px;
    width: 90%;
    font-size: 16px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: left;
    padding: 10px 5px 9px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(213, 216, 213);
  }
  .deleteContainer {
    display: flex;
    justify-content: center;
    color: rgb(248, 248, 248);
    transition: 500ms;
    width: 90%;
    font-size: 16px;
    padding: 10px 5px 9px 10px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(60, 59, 59);
    margin:0 auto;
    margin-bottom: 5px;
  }
}
