.projectsContainer {
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 96vh;
  background-color: rgb(237, 235, 235);
  border: 1px solid rgb(222, 221, 221);
  overflow: scroll;
}
.projectHeader {
  padding-top: 20px;
  height: 90px;
  margin-bottom: 20px;
  background-color: #fff;
}
.mainTitle {
  margin-bottom: 20px;
}

.addProjectButton {
  width: 10rem;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(250, 251, 251);
  background-color: rgb(237, 235, 235);
  border: none;
  background: rgb(22, 79, 204);
  background: linear-gradient(
    90deg,
    rgba(22, 79, 204, 1) 6%,
    rgba(189, 9, 162, 1) 65%,
    rgba(218, 97, 224, 1) 96%
  );
}
.addProjectButtonOff {
  width: 10rem;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  color: rgb(250, 251, 251);
  background-color: rgb(237, 235, 235);
  border: none;
  background: rgb(22, 79, 204);
  background: linear-gradient(
    90deg,
    rgb(58, 101, 193) 6%,
    rgb(185, 83, 170) 65%,
    rgb(218, 145, 222) 96%
  );
}
.projectList {
  padding: 10px 20px;
  background-color: rgb(237, 235, 235);
}

.addProjectButton:hover {
  cursor: pointer;
  color: rgb(202, 206, 206);
}

@media screen and (max-width: 768px) {
  .projectsContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    background-color: rgb(237, 235, 235);
    border: 1px solid rgb(222, 221, 221);
    overflow: scroll;
  }
}



