.loginWindow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 96vh;
  background-color: rgb(252, 250, 250);
}

.signInScreen {
  width: 20%;
  margin: 9rem auto;
}
.formContainer {
  width: 100%;
}
.signInForm {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: rgb(237, 235, 235);
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 4px;
}

.signInForm label {
  margin-top: 20px;
  color: rgb(80, 79, 79);
}

.signInForm input {
  margin-top: 5px;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 4px;
}

input::placeholder {
  color: rgb(190, 190, 190);
}

.signInButton {
  margin-top: 30px;
  margin-bottom: 10px;
  min-height: 40px;
  color: #fff;
  font-size: large;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  background: rgb(22, 79, 204);
  background: rgb(22, 79, 204);
  background: linear-gradient(
    90deg,
    rgba(22, 79, 204, 1) 6%,
    rgba(189, 9, 162, 1) 65%,
    rgba(218, 97, 224, 1) 96%
  );
}
.logginBottom {
  display: flex;
  justify-content: space-between;
}
.persistCheck {
  display: block;
  margin: 10px 0;
  font-size: 14px;
  color: rgb(48, 47, 47);
}
.persistCheck input {
  margin-right: 5px;
}
.needAccountWrapper {
  display: block;
  margin-top: 10px;
}
.needAccount {
  font-size: 14px;
  color: rgb(48, 47, 47);
}

@media screen and (max-width: 768px) {
  .signInScreen {
    width: 90%;
  }
  .formContainer {
    display: flex;
    width: 100%;
  }
}
