

.datePicker input {
    padding: 0;
    background-color: rgb(237, 235, 235);
    border: none;
    outline: none;
    font-size: 14px;
    margin-top: 6px;
}

.datePicker :disabled {
    color: rgb(202, 202, 202);
}